In [4]:
import pandas as pd 
import numpy as np

# from subprocess import check_output
# print(check_output(['ls','./input']).decode('utf-8'))

import os 
print(os.listdir("./input"))

D:\python\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
D:\python\lib\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
D:\python\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

['sample_submission.csv', 'test.csv', 'train.csv']

In [18]:
train_data=pd.read_csv('./input/train.csv')
test_data=pd.read_csv('./input/test.csv')

In [17]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [20]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
id                       4398 non-null int64
belongs_to_collection    877 non-null object
budget                   4398 non-null int64
genres                   4382 non-null object
homepage                 1420 non-null object
imdb_id                  4398 non-null object
original_language        4398 non-null object
original_title           4398 non-null object
overview                 4384 non-null object
popularity               4398 non-null float64
poster_path              4397 non-null object
production_companies     4140 non-null object
production_countries     4296 non-null object
release_date             4397 non-null object
runtime                  4394 non-null float64
spoken_languages         4356 non-null object
status                   4396 non-null object
tagline                  3535 non-null object
title                    4395 non-null object
Keywords                 4005 non-null object
cast                     4385 non-null object
crew                     4376 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [6]:
train_data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [16]:
null_sum=train_data.isnull().sum().sort_values(ascending=False)
percent=(null_sum/train_data.isnull().count()*100).sort_values(ascending=False)
miss_data=pd.concat([null_sum,percent],axis=1,keys=['Total','Percent'],sort=False)
miss_data[miss_data['Total']>0]

                       Total    Percent
belongs_to_collection   2396  79.866667
homepage                2054  68.466667
tagline                  597  19.900000
Keywords                 276   9.200000
production_companies     156   5.200000
production_countries      55   1.833333
spoken_languages          20   0.666667
crew                      16   0.533333
cast                      13   0.433333
overview                   8   0.266667
genres                     7   0.233333
runtime                    2   0.066667
poster_path                1   0.033333

In [ ]:
for i,c in enumerate(train_data.belongs_to_collection[:5]):
    print(i,c)
    print('\n')

In [ ]:
train_data.head()

In [2]:
a=[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

In [3]:
[i for j in a for i in j]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
train_data.info()