In [40]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 1.获取数据集
print("正在获取")
data = pd.read_excel("tt.xlsx")
print("获取完成")

正在获取
获取完成

In [3]:
data

    row_id       x       y  accuracy    time    place_id
0        0  0.7941  9.0809        54  470702  8523065625
1        1  5.9567  4.7968        13  186555  1757726713
2        2  8.3078  7.0407        74  322648  1137537235
3        3  7.3665  2.5165        65  704587  6567393236
4        4  4.0961  1.1307        31  472130  7440663949
5        5  3.8099  1.9586        75  178065  6289802927
6        6  6.3336  4.3720        13  666829  9931249544
7        7  5.7409  6.7697        85  369002  5662813655
8        8  4.3114  6.9410         3  166384  8471780938
9        9  6.3414  0.0758        65  400060  1253803156
10      10  2.0173  4.8627         6   21353  8684462954
11      11  8.7101  2.9442        73  153493  2159916487

In [32]:
# 2.基本数据处理
# 2.1缩小数据范围
face_book = data.query("x>1.0 & x< 6.5 & y > 1.0 & y< 5.5")
time = pd.to_datetime(face_book["time"],unit="s")
time = pd.DatetimeIndex(time)
# 加入时间指标

In [36]:
time.hour

Int64Index([3, 11, 1, 17, 5], dtype='int64', name='time')

In [33]:
face_book

    row_id       x       y  accuracy    time    place_id  hour
1        1  5.9567  4.7968        13  186555  1757726713     3
4        4  4.0961  1.1307        31  472130  7440663949    11
5        5  3.8099  1.9586        75  178065  6289802927     1
6        6  6.3336  4.3720        13  666829  9931249544    17
10      10  2.0173  4.8627         6   21353  8684462954     5

In [24]:
type(str(time.hour.values[0]))

str

In [34]:
face_book['hour'] = time.hour

D:\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
face_book

    row_id       x       y  accuracy    time    place_id  hour
1        1  5.9567  4.7968        13  186555  1757726713     3
4        4  4.0961  1.1307        31  472130  7440663949    11
5        5  3.8099  1.9586        75  178065  6289802927     1
6        6  6.3336  4.3720        13  666829  9931249544    17
10      10  2.0173  4.8627         6   21353  8684462954     5

In [37]:
face_book['hour']

1      3
4     11
5      1
6     17
10     5
Name: hour, dtype: int64

In [ ]:
face_book['hour'] = time.hour
face_book['day'] =time.day
face_book['weekday'] = time.weekday

In [6]:
time

DatetimeIndex([], dtype='datetime64[ns]', name='time', freq=None)

In [5]:
face_book['hour']

Series([], Name: hour, dtype: int64)